.btn {
	border-radius : 18px;
	border : 6px;
	font-family: 'Y_Spotlight';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
	font-weight: normal;
	font-style: normal; 
	font-size: 12pt; 
	color: Black; 
	background-color: rgb(202, 216, 255);
	line-height: 22px;
}
