@font-face {
		font-family: 'Y_Spotlight';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
}

div {
	text-align : center;
}

.srch {
	border-radius : 5px;
	text-align: center;
	border : 6px;
	font-weight: normal;
	font-style: normal; 
	font-size: 15pt; 
	color: Black; 
	background-color: #e8e8e8;
	line-height: 19px;
}

.btn {
	border-radius : 15px;
	border : 6px;
	text-align: center;
	font-weight: normal;
	font-style: normal; 
	font-size: 15pt; 
	color: Black; 
	background-color: #b5bfd2;
	line-height: 22px;
}
