.boardcss_list_table { 
	width: 100%; 
}
.list_table { 
	width: 100%; 
	height: 100%;
	margin-top: 0px;
	padding-top: 0px;
}
	
.list_table thead th { 
	text-align: center; 
	font-weight: normal; 
	border-top: 1px solid #e5e5e5; 
	border-bottom: 1px solid #e5e5e5; 
	padding: 8px 0; 
	background: #344057; 
	color: white;
}

.list_table tbody td { text-align: center;  border-bottom: 1px solid #e5e5e5; padding: 5px 0; }

.postTitle{
	text-decoration: none;
	font-weight: normal; 
	font-size: 16px;
	color: black;
}