td {
	margin:auto;
	color: #333333; 
	line-height: 18px;
}
table, form, h2 {
    margin:auto;
    float:center;
    text-align: center; 
}
div {
	margin:auto;
}
.find-btn{
    text-align: center; 
}
.title {
	font-family: 'Y_Spotlight';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
	font-weight: normal;
	font-style: normal; 
	font-size: 12pt; 
	color: Black; 
	background-color: Beige;
	line-height: 22px;
}
.tt { 
	font-size: 25pt; 
	font-weight: bold;
	color: Black; 
	line-height: 22px;
}
/* Form css */
.text, .textarea, .password, .file, .select { 
	font-size: 8pt; 
	color: #333333;
}
p {
  width: 100px; /* �����Ϸ��� ����� ���̸� �ݵ�� ���� */
  margin: 0 auto;
}
@font-face {
		font-family: 'Y_Spotlight';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
}