td {
	margin:auto;
	color: #333333; 
	line-height: 18px;
}
table, form, h2 {
    margin:auto;
    float:center;
    text-align: center; 
}
div {
	margin:auto;
}
.find-btn{
    text-align: center; 
}
.title {
	font-family: 'Y_Spotlight';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
	font-weight: normal;
	font-style: normal; 
	font-size: 12pt; 
	color: Black; 
	background-color: Beige;
	line-height: 22px;
}
.tt { 
	font-size: 25pt; 
	font-weight: bold;
	color: Black; 
	line-height: 22px;
}
/* Form css */
.text, .textarea, .password, .file, .select { 
	font-size: 8pt; 
	color: #333333;
}
/*입양 신청 폼*/
.adopt_info_td_1, .adopt_info_td_2 {
	width: 180px;
	height: 40px;
	background-color: White;
	border-left: none;
}
.adopt_info_1, .adopt_info_2 {
	float:center;
	width:30%;
	height: 20%;
	font-size: 15pt; 
	background-color: #e8e8e8; 
	border-radius : 10px;
	text-align: center;
	border : 6px;
}
.myPage_mini {
	width: 20%;
}
.main {
	width: 80%;
}
p {
  width: 100px; /* �����Ϸ��� ����� ���̸� �ݵ�� ���� */
  margin: 0 auto;
}
@font-face {
		font-family: 'Y_Spotlight';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
}